# WORLDMETERS POPULATION SCRAP

In [1]:
import requests
import urllib.request,urllib.parse
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

In [2]:
url= "file:///C:/Users/Aseta/Downloads/to web scrap world meter/Population%20by%20Country%20(2020)%20-%20Worldometer.html"

In [3]:
data = urllib.request.urlopen(url).read()
soup = bs(data,'lxml')
soup_data = soup.find_all('table' , class_ = "table table-striped table-bordered dataTable no-footer")

In [4]:
for a in soup_data:
    rows = a.find_all('tr')

In [5]:
#Getting the table headings of the data
list_of_headings =[]
for row in rows:
    headings = row.find_all('th')
    if headings!=0:
        for heading in headings:
            heading=heading.text
            list_of_headings.append(heading)
            
#list_of_headings

In [6]:
len(list_of_headings)

#use the length to know the number of lists to use

12

In [137]:
list_0,list_1,list_2,list_3,list_4,list_5,list_6,list_7,list_8,list_9,list_10,list_11 = [],[],[],[],[],[],[],[],[],[],[],[]
list_of_lists=[list_0,list_1,list_2,list_3,list_4,list_5,list_6,list_7,list_8,list_9,list_10,list_11]
list_of_lists

[[], [], [], [], [], [], [], [], [], [], [], []]

In [138]:
#creating the lists to store the actual data
for row in rows:
    cell_data = row.find_all("td")
    country_data = []
    for data in cell_data:
        country_data.append(data)
    if len(country_data)!=0:
        n=0
        for item in country_data:
            data_to_add = item.text
            list_of_lists[n].append(data_to_add)
            #print(data_to_add,n)
            n=n+1    
    
#print(list_2)

In [150]:
#Put the data in a adataframe and a csv
data_dict = {list_of_headings[0]:list_0, list_of_headings[1]:list_1 ,list_of_headings[2]:list_2 ,list_of_headings[3]:list_3,
             list_of_headings[4]:list_4 ,list_of_headings[5]:list_5 ,list_of_headings[6]:list_6 ,list_of_headings[7]:list_7 ,
             list_of_headings[8]:list_8 ,list_of_headings[9]:list_9 ,list_of_headings[10]:list_10 ,list_of_headings[11]:list_11}

the_dataframe = pd.DataFrame(data_dict, columns= [list_of_headings[0],list_of_headings[1],list_of_headings[2],list_of_headings[3],
                                                   list_of_headings[4],list_of_headings[5],list_of_headings[6],list_of_headings[7],
                                                   list_of_headings[8],list_of_headings[9],list_of_headings[10],list_of_headings[11]])

In [151]:
the_dataframe.to_excel("worldmeter_population.xlsx",index=False)
the_dataframe

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,"4,992",0.06 %,3,50,100,,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,"3,480",3.05 %,103,0,"12,170",,N.A.,N.A.,66 %,0.00 %
232,233,Niue,"1,626",0.68 %,11,6,260,,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,"1,357",1.27 %,17,136,10,,N.A.,N.A.,0 %,0.00 %
234,235,Holy See,801,0.25 %,2,"2,003",0,,N.A.,N.A.,N.A.,0.00 %